* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
}

:root {
    --ship-health: 100%;
    --alien-health: 100%;
}

.game {
    display: flex;
    height: 52vh;
    border: 2px solid white;
    border-radius: 5px;
    margin: 1rem;
    justify-content: space-between;

    background-image: url(../assets/images/starsBackground.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ship-area-player {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 90%;
    width: 12vw;
    margin: 0 1rem;
    /* border: 2px solid green; */
}
.ship-area-aliens {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 90%;
    width: 12vw;
    margin: 0 1rem;
    /* border: 2px solid red; */
}
.health-bar {
    position: relative;
    width: var(--ship-health);
    height: 2px;


    background-color: green;
}
.player-ship {
    background-image: url(../assets/images/spaceship\ -\ Copy.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    width: 64px;
    height: 64px;
}
.player-ship-attack-animation {
    animation: player-attack 1000ms;
}
.player-ship-retreat-animation {
    animation: player-retreat 2500ms forwards;
}

.alien-ship {
    background-image: url(../assets/images/mojojojo.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    width: 64px;
    height: 64px;
}
.alien-stats {
    position: relative;
    min-width: 2rem;
    min-height: 4rem;
    border: 2px solid white;
    border-radius: 5%;
    right: -100%;
    /* background-color: white; */
}

.alien-stats p {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.alien-ship-attack-animation {
    animation: alien-attack 1000ms;
}
@keyframes alien-attack {
    0% {
        right: 0;
    }
    50% {
        right: 75vw;
    }
    100% {
        right: 0;
    }
}
@keyframes player-attack {
    0% {
        left: 0;
    }
    50% {
        left: 75vw;
    }
    100% {
        left: 0;
    }
}


@keyframes player-retreat {
    0% {
        transform: rotateZ(0deg);
        left: 0vw;
    }
    25% {
        left: 8vw;
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(180deg);
        left: -25vw;
    }
}

h2 {
    color: white;
    margin: 1rem;
}

.legend {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    height: 22vh;

    background-color: #707070;

    border: 2px solid white;
    border-radius: 5px;
}
.legend .score {
    text-align: center;
    padding: 2rem;
    margin: auto;
    background-color: #888888;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(80, 78, 78);
    
    color: white;
    font-weight: bold;
    font-size: 21px;
}