* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000;
}

:root {
    --ship-health: 100%;
    --alien-health: 100%;
}

.game {
    display: flex;
    height: 52vh;
    border: 2px solid white;
    border-radius: 5px;
    margin: 1rem;
    justify-content: space-between;
}
.ship-area-player {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 12vw;
    margin: 0 1rem;
    /* border: 2px solid green; */
}
.ship-area-aliens {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 90%;
    width: 12vw;
    margin: 0 1rem;
    /* border: 2px solid red; */
}
.player-ship {
    background-image: url(../assets/images/spaceship.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    width: 64px;
    height: 64px;

    transform: rotateZ(90deg);
}
.player-ship::after {
    content: '';
    display: block;
    width: 2px;
    height: var(--ship-health);

    right: -100%;
    background-color: green;
    position: relative;
}
.player-ship-attack-animation {
    animation: player-attack 1000ms;
}
.alien-ship {
    background-image: url(../assets/images/mojojojo.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    width: 64px;
    height: 64px;
}
.alien-ship::after {
    content: '';
    display: block;
    width: var(--alien-health);
    height: 2px;

    bottom: -100%;
    background-color: green;
    position: relative;
}
.alien-ship-attack-animation {
    animation: alien-attack 1000ms;
}
@keyframes alien-attack {
    0% {
        right: 0;
    }
    50% {
        right: 75vw;
    }
    100% {
        right: 0;
    }
}
@keyframes player-attack {
    0% {
        left: 0;
    }
    50% {
        left: 75vw;
    }
    100% {
        left: 0;
    }
}

h2 {
    color: white;
    margin: 1rem;
}

.legend {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    height: 22vh;

    background-color: #707070;

    border: 2px solid white;
    border-radius: 5px;
}
.legend .score {
    text-align: center;
    padding: 2rem;
    margin: auto;
    background-color: #888888;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(80, 78, 78);
    
    color: white;
    font-weight: bold;
    font-size: 21px;
}