.log-in-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.log-in-screen-header {
    background-image: url("../../public/images/heroBanner.jpg");
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;

    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-screen-body-authentication {
    border: 1px solid #FF6B00;
    border-radius: 5px;
    padding: 1rem;

    margin-top: 10rem;
}

.log-in-screen-body-authentication h1 {
    color: black;
    text-align: center;

    font-weight: lighter;
}

.log-in-screen-body-authentication form {
    padding: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-screen-body-authentication form input[type="text"] {
    border: none;
    box-shadow: 0 2px 4px #b4b4b4;
    padding: 1rem;
    margin-top: 1rem;
}

.log-in-screen-body-authentication form input[type="text"]::placeholder {
    color: #646464;
    font-family: 'Cascadia Code', sans-serif;
}

.log-in-screen-body-authentication .form-customer-type {
    padding: 1rem;
}

.form-customer-type input {
    margin: 0 1rem;
}

.form-customer-type img {
    width: 4rem;
}

.authentication-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.authentication-buttons button {
    background-color: #FF6B00;
    border: none;
    padding: 1rem;
    margin: auto;
    color: white;
    font-weight: lighter;
    box-shadow: 0 2px 4px #646464;
}