.ui {
    border: 1px solid #c9c9c9;
    margin: 0.25rem;
    padding: 0 0.75rem;
    box-shadow: 0 0 2px #c9c9c9;
}

.ui img {
    max-width: 14rem;
    max-height: 21rem;
}

.ui .subtitle h4 {
    color: #a3a3a3;
}

.ui .header {
    background-color: #f3f3f3;
    width: 100%;
}