* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    grid-template-columns: repeat(3, auto);
}

.receipt {
    margin: 0.25rem;
    padding: 1rem;
    border: 2px solid salmon;
}

.receipt>* {
    margin: 0.125rem;
}

.receipt span {
    color: #4b0082;
}